<%- include('partials/head.ejs') %>
  <main>
    <h2>Create mood</h2>

    <form action="/moods" method="POST">
      <label for="value">Mood</label>
      <input type="text" name="value" id="value" required>
      <label for="context">Context</label>
      <input type="text" name="context" id="context">
      <button type="submit">Submit</button>
  </main>

  <%- include('partials/footer') %>
