<%- include('partials/head.ejs') %>
  <main>
    <h1>Log in</h1>

    <form action="/auth/login" method="POST">
      <label for="username">Username</label>
      <input type="username" name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <button type="submit">Log in</button>
  </main>

  <%- include('partials/footer.ejs') %>
