<%- include('partials/head.ejs') %>
  <main>
    <h1>Log in</h1>

    <form action="/auth/login" method="POST">
      <label for="username">Username</label>
      <!-- <input type="username" name="username" id="username" required> -->
      <input type="username" name="username" id="username" required value="Tom">
      <label for="password">Password</label>
      <!-- <input type="password" name="password" id="password" required> -->
      <input type="password" name="password" id="password" required value="pass">
      <button type="submit">Log in</button>
    </form>
    <%- include('partials/error.ejs') %>
  </main>

  <%- include('partials/footer.ejs') %>
