<%- include('partials/head.ejs') %>

  <main>
    <div id="register">
      <form action="/auth/register" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
        </div>
        <div>
          <label for="password-confirm">Confirm Password</label>
          <input type="password" name="password-confirm" id="password-confirm" required>
        </div>
        <div>
          <button type="submit">Register</button>
        </div>
      </form>

      <%- include('partials/error.ejs') %>
    </div>
  </main>

  <%- include('partials/footer.ejs') %>

    <script>
      const errors = document.querySelector('.errors');

      // check if password and confirm password match
      const password = document.querySelector('#password');
      const passwordConfirm = document.querySelector('#password-confirm');

      passwordConfirm.addEventListener('input', function () {
        if (password.value !== passwordConfirm.value) {
          passwordConfirm.setCustomValidity('Passwords do not match');
        } else {
          passwordConfirm.setCustomValidity('');
        }
      });
    </script>
