<% if (typeof errors !=="undefined" ) { %>
  <div class="errors">
    <ul>
      <% errors.forEach(function (error) { %>
        <li class="error-msg">
          <%= error.msg %>
        </li>
        <% }) %>
    </ul>
  </div>
  <% } %>
